{{- '<|startofcontext|><|startoftranscript|><|emo:undefined|>' -}}{%- for message in messages -%}{%- if message['role'] == 'user' -%}{%- for content in message['content'] if content['type'] == 'text' -%}{{- '<|' ~ content['source_language'] ~ '|>' -}}{{- '<|' ~ content['target_language'] ~ '|>' -}}{{- '<|pnc|>' if content['punctuation'] else '<|nopnc|>' -}}{{- '<|noitn|><|notimestamp|><|nodiarize|>' -}}{%- endfor -%}{%- elif message['role'] == 'assistant' -%}{{- message['content'] ~ '<|endoftext|>' -}}{%- endif -%}{%- endfor -%}